# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# Electron / Asar / Backups
*.asar
*.asar.bak
*.asar.unpacked
*.tmp
*.log

# Operating System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
